*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html,
body, 
.App{
  margin: 0;
  padding:0;
  overflow-x: hidden;
  background-color: #0C0C0C;
  color: #FFFFFF;
  height:100vh;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  /* background-image: url(''); */
}

button,
input{
  outline-style:none;
  cursor:pointer;
}

nav{
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  color: #FFA503;
}

.connect-btn{
  padding:15px 20px;
  border: 4.65873px solid #FFA503;
  color: #0C0C0C;
  font-weight: 600;
  border-radius: 17.4702px;
  outline-style: none;
  cursor: pointer;
  background-color: transparent;
  transition:0.6s ease-in-out;
}

.connect-btn:hover{
  background-color: #FFA503;
  color:#FFFFFF;
}

.admin{
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 0px 50px 50px ;
}

.left{
  width:50%;
  text-align: center;
  margin-top: 50px;
}

.right{
  width:40%;
}

.right svg{
  width: 50%;
  height: auto;
  margin: auto;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from{
    -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  -moz-transform: rotate(359deg);
  -ms-transform: rotate(359deg);
  -o-transform: rotate(359deg);
  transform: rotate(359deg);
  }
}

.wallet-details, .operator-section, .user-section{
  width:100%;
  border:1px solid #FFA503;
  border-radius: 10px;
  height:auto;
  padding:20px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.token-details{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.token-details div{
  text-align: center;
  width:50%;
}

.wallet-details .key{
  font-size: 20px;
  color:#FFFFFF;
  font-weight: 600;
}

.wallet-details .value{
  font-size: 20px;
  color:grey;
  font-weight: 600;
}

.text{
  font-size: 30px;
  color:#FFFFFF;
  font-weight: 700;
  margin: 50px auto;
  text-align:left;
  text-transform: capitalize;

}

.text-sm{
  font-size: 16px;
  color:#FFFFFF;
  font-weight: 500;
}

.input-section, .operator-form input{
  display: flex;
  width:100%;
  margin: auto;
  align-items: center;
  position: relative;
  /* margin-top: 50px; */
  border-radius:10px;
  border: 1px solid #FFA503;
}
.operator-form {
  display: grid;
  place-items: center;
}
.operator-form input {
  padding:.5rem 1rem;
  margin-top:.5rem;
}

.file-input{
  outline-style: none;
  /* height: 50px; */
  width:80%;
  opacity:0;
  
}

label{
  color:gray;
  font-size: 16px;
  position: absolute;
  left:30px;
}
.addrs {
  margin-top: 2rem;
}
.addrs p {
  padding-bottom: .4rem;
}
.info-btn, 
.operator-form button, .user-section button {
  border-radius: 5px;
  padding:.2rem 1rem;
  border: 1px solid #FFA503;
  font-size: 1.1rem;;
  background-color: #FFA503;
}
.operator-form button, .user-section button {
  margin-top:.5rem;
}

.transfer-btn{
  width:20%;
  border-radius:10px;
  border: 1px solid #FFA503;
  height: 50px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  background-color: #FFA503;
  color: #0C0C0C;
  font-weight: 600;
}

.right img{
  width:100%;
  height:auto;
}

.blob{
  background-color: #0C0C0C;
  border-left:1px solid #FFA503;
  border-right:0px solid #FFA503;
  width:35px;
  height:57px;
  transform: skewX(-20deg);
  position: absolute;
  right:17%;
}

.mint-btn{
  padding: 20px 50px;
  border-radius: 50px;
  border:none;
  font-size: 16px;
  background-color: #FFA503;
  color:#0C0C0C;
  font-weight: 600;

}

@media(max-width:1024px){
  .wallet-details{
    width:100%;
  }

  .input-section{
    width:100%;
  }

  .text{
    font-size: 25px;
  }
}

@media(max-width:767px){
  .admin{
    flex-direction: column;
    padding: 50px;
  }

  .left{
    width:100%;
  }

  .right{
    width:0%;
    display: none;
  }

  .wallet-details .key{
    font-size: 18px;
  }
  
  .wallet-details .value{
    font-size: 18px;
  }
}

@media(max-width:500px){
  .admin{
    padding:20px;
  }

  .text{
    font-size: 22px;
  }
}

@media(max-width:300px){
  .admin{
    padding:10px;
  }
  .wallet-details .key{
    font-size: 14px;
  }
  
  .wallet-details .value{
    font-size: 14px;
  }

  .text{
    font-size: 16px;
  }
}