*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html,
body, 
.App{
  margin: 0;
  padding:0;
  overflow-x: hidden;
  background-color: #0C0C0C;
  color: #FFFFFF;
  height:100vh;
  font-family: monospace;
  font-size: 20px;
  /* background-image: url(''); */
}

button,
input{
  outline-style:none;
  cursor:pointer;
}

nav{
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  color: #FFA503;
}

.connect-btn{
  padding:15px 20px;
  border: 4.65873px solid #FFA503;
  color:#FFFFFF;
  border-radius: 17.4702px;
  outline-style: none;
  cursor: pointer;
  background-color: transparent;
  transition:0.6s ease-in-out;
}

.connect-btn:hover{
  background-color: #FFA503;
  color:#FFFFFF;
}

.admin{
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:50px 0px 50px 50px ;
}

.left{
  width:50%;
  text-align: center;
}

.right{
  width:40%;

}

.wallet-details{
  width:70%;
  border:1px solid #FFA503;
  border-radius: 10px;
  height:auto;
  padding:20px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.wallet-details .key{
  font-size: 20px;
  color:#FFFFFF;
  font-weight: 600;
}

.wallet-details .value{
  font-size: 20px;
  color:grey;
  font-weight: 600;
}

.text{
  font-size: 28px;
  color:#FFA503;
  font-weight: 700;
  margin: 20px auto;
}

.text-sm{
  font-size: 16px;
  color:#FFFFFF;
  font-weight: 500;
}

.input-section{
  display: flex;
  width:90%;
  margin: auto;
  align-items: center;
}

.file-input{
  outline-style: none;
  border: 3px solid #FFA503;
  height: 50px;
  width:80%;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

.transfer-btn{
  width:20%;
  border-radius:10px;
  border: 3px solid #FFA503;
  height: 50px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  background-color: #FFA503;
  color:#FFFFFF;
}

.right img{
  width:100%;
  height:auto;
}